.lightbulb {
  height: calc(100vh - 100px);
  display: flex;
}
.lightbulb h1 {
  margin: auto;
  font-size: 150px;
  color: #FFF;
}
.controls {
  height: 100px;
  display: flex;
}
.controls .btn-group {
  margin: auto;
}
